<div class="collection-square__container">

  <a class="collection-square xwarm {% if current_tags contains "Stay X-Warm" %}active{% endif %}" href="/collections/stay-x-warm/Stay-X-Warm">
    <div class="collection-square__point"></div>
    <div class="collection-square__title">Stay X-Warm</div>
    <div class="collection-square__temp">
      da 0° a 20°</div>
    <div class="collection-square__subtitle">Lorem, ipsum dolor sit amet
    </div>

  </a>

  <a class="collection-square warm {% if current_tags contains "Stay Warm" %}active{% endif %}" href="/collections/stay-warm/Stay-Warm">
    <div class="collection-square__point"></div>
    <div class="collection-square__title">Stay Warm</div>
    <div class="collection-square__temp">
      da 0° a 20°</div>
    <div class="collection-square__subtitle">Lorem, ipsum dolor sit amet
    </div>
  </a>

  <a class="collection-square lightwarm {% if current_tags contains "Light Warm" %}active{% endif %}" href="/collections/light-warm/Light-Warm">
    <div class="collection-square__point"></div>
    <div class="collection-square__title">Light Warm</div>
    <div class="collection-square__temp">
      da 0° a 20°</div>
    <div class="collection-square__subtitle">Lorem, ipsum dolor sit amet
    </div>
  </a>
  <a class="collection-square fresh {% if current_tags contains "Stay Fresh" %}active{% endif %}" href="/collections/stay-fresh/Stay-Fresh">
    <div class="collection-square__point"></div>
    <div class="collection-square__title">Stay Fresh</div>
    <div class="collection-square__temp">
      da 0° a 20°</div>
    <div class="collection-square__subtitle">Lorem, ipsum dolor sit amet
    </div>
  </a>
</div>