{% assign selectedProduct = product.selected_or_first_available_variant %}
{% assign omnibusprice = selectedProduct.metafields.omnibus.price %}
{% assign label = 'products.general.omnibus' | t %}

<div id="sniffie-omnibus-price">
  {% if omnibusprice != blank %}
    <span>
      {% if selectedProduct.compare_at_price >= product.price %}
        {{ label }}
        {{ omnibusprice | metafield_tag }}
        {% if omnibusdate != null %}      
          ({{ omnibusdate | date: date_format }})    
        {% endif %}
      {% endif %}
    </span>
  {% endif %}
</div>

<script>
if(window.omnibusPriceSection="{{ section.id }}","undefined"==typeof lastUrl){let e=location.href;new MutationObserver(()=>{let n=location.href;n!==e&&(e=n,onUrlChange())}).observe(document,{subtree:!0,childList:!0})}function onUrlChange(){let e=new URL(location.href),n=e.searchParams.get("variant");getData(n)}async function getData(e){getDataFromServer(e)}async function getDataFromServer(e){try{var n=new URLSearchParams({variant:e,section_id:window.omnibusPriceSection});fetch("".concat(window.location.pathname,"?").concat(n.toString())).then(e=>e.text()).then(e=>{let n=new DOMParser().parseFromString(e,"text/html"),t=document.querySelector("#sniffie-omnibus-price"),r=n.querySelector("#sniffie-omnibus-price");r&&t&&(t.innerHTML=r.innerHTML)})}catch(t){console.log("error when updating omnibus price",t)}}
</script>

<style>
    #sniffie-omnibus-price {
        font-size: 16px;
    }
</style>
{%- render 'price-indication', product:product -%}