<div class="collection-grid__wrapper">
  <h1>UOMO</h1>
  <hr>
  <p>I NOSTRI PRODOTTI</p>
  <div class="grid grid--uniform">
    <div class="grid__item medium-up--one-half">
      {{ section.blocks[0].settings }}
      {% include 'image-banner' with banner_image_url: section.blocks[0].settings.image.src, banner_title: 'MAGLIE', button_href: '/collections/maglie/Uomo', button_title: 'VEDI TUTTE' %}
    </div>
    <div class="grid__item medium-up--one-half">
      {% include 'image-banner' with banner_image_url: 'https://cdn.shopify.com/s/files/1/0696/3979/9097/collections/maglie_2592x.jpg?v=1675417485', banner_title: 'PANTALONI', button_href: '/collections/maglie/Uomo', button_title: 'VEDI TUTTI' %}
    </div>
    <div class="grid__item">
      {% include 'image-banner' with banner_image_url: 'https://cdn.shopify.com/s/files/1/0696/3979/9097/collections/maglie_2592x.jpg?v=1675417485', banner_title: 'ACCESSORI', button_href: '/collections/maglie/Uomo', button_title: 'VEDI TUTT I I PRODOTTI' %}
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Collection uomo",
    "limit": 1,
    "max_blocks": 7,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Titolo"
      }, {
        "type": "text",
        "id": "subtitle",
        "label": "Sottotitolo"
      }
    ],
    "blocks": [
      {
        "name": "Banner",
        "type": "banner",

        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "default": {
      "settings": {
        "title": "Collection uomo"
      },
      "blocks": [
        {
          "type": "banner"
        },
        {
          "type": "banner"
        },
        {
          "type": "banner"
        },
        {
          "type": "banner"
        }, {
          "type": "banner"
        }, {
          "type": "banner"
        }, {
          "type": "banner"
        }
      ]
    }
  }
{% endschema %}