{% if section.settings.layout_none %}

  {% layout none %}
  
{% else %}

  <div class="page-width page-content">
  
    {% comment %} {%- include 'breadcrumbs' -%} {% endcomment %}
  
    <div class="grid">
      <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">
  
        <header class="section-header">
          <h1 class="section-header__title">{{ page.title }}</h1>
        </header>
  
        <div class="rte rte--nomargin">
          {{ page.content }}
        </div>
  
      </div>
    </div>
  
  </div>
  
  {% comment %} {% section 'custom-fields-pages' %} {% endcomment %}

{% endif %}

{% schema %}
  {
    "name": "Page",
    "settings": [
      {
        "type": "select",
        "id": "layout_none",
        "label": "Layout None",
        "options": [
            {
            "value": "no",
            "label": "No"
            },
            {
            "value": "yes",
            "label": "Yes"
            }
        ],
        "default": "no",
        "info": "If yes, remove all layout to insert Custom HTML below."
      }
    ],
    "presets": [
        {
            "name": "Page"
        }
    ]
  }
{% endschema %}