<div class="section-row-products">
  <div class="page-width row-products-content">
    <div class="grid grid--uniform grid--collection small--grid--flush">

      {%- assign grid_item_width = 'medium-up--one-half' -%}
{{section.blocks.size }}
      {% for product_block in section.blocks %}

        {% assign product = product_block.settings.product %}
        {%- include 'product-grid-item' -%}

      {% endfor %}
    </div>
  </div>
</div>

{% style %}
.row-products-content {
  max-width: 900px;
}
{% endstyle %}

{% schema %}
  {
    "name": "Row Products",
    "max_blocks": 4,
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
            {
                "type": "product",
                "id": "product",
                "label": "Product"
            }
          ]
        }
    ],
    "presets": [
        {
            "name": "Row Products"
        }
    ]
  }
{% endschema %}
