<div class="section-two-product">
  <div class="page-width two-product-content">
    <div class="grid grid--uniform grid--collection small--grid--flush">

      {%- assign grid_item_width = 'medium-up--one-half' -%}

      {% for product_block in section.blocks %}

        {% assign product = product_block.settings.product %}
        {%- include 'product-grid-item' -%}

      {% endfor %}
    </div>
  </div>
</div>

{% style %}
.two-product-content {
  max-width: 900px;
}
{% endstyle %}

{% schema %}
  {
    "name": "Two Products",
    "blocks": [
      {
        "type": "products",
        "name": "Products",
        "settings": [
            {
                "type": "product",
                "id": "product",
                "label": "Product"
            }
          ]
        }
    ],
    "presets": [
        {
            "name": "Two Products"
        }
    ]
  }
{% endschema %}
