<script>
  var headerWrapper = document.querySelector(".header-wrapper");
  headerWrapper.classList.add("is-light");
</script>

<div class="athlete-page">

  <div class="athlete-page__head">
    
  </div>
  
    
</div>

{% schema %}
  {
    "name": "Athlete Page",
    "settings": [
      {
        "type": "text",
        "id": "firstname",
        "label": "First Name"
      },
      {
        "type": "text",
        "id": "lastname",
        "label": "Last Name"
      },
      {
        "type": "text",
        "id": "year",
        "label": "Year"
      },
      {
        "type": "checkbox",
        "id": "tag_trail",
        "label": "Trail"
      },
      {
        "type": "checkbox",
        "id": "tag_bike",
        "label": "Bike"
      },
      {
        "type": "checkbox",
        "id": "tag_snowsport",
        "label": "Snowsport"
      },
      {
        "type": "checkbox",
        "id": "tag_running",
        "label": "Running"
      },
      {
        "type": "checkbox",
        "id": "tag_mountaineering",
        "label": "Mountaineering"
      },
      {
        "type": "checkbox",
        "id": "tag_other",
        "label": "Other"
      },
      {
        "type": "text",
        "id": "other_infos",
        "label": "Other Infos"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Athlete Page"
      }
    ]
  }
{% endschema %}


{% style %}

html {
  scroll-behavior: smooth;
}
body.template-page.template-page--athlete {
  background: #000;
}
.athlete-page__head {
  color: #fff;
  padding: 200px 20px;
}
.athlete-page__head a {
  color: #fff;
  display: block;
}
.athlete-page__head .boxed {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
}
.athlete-page__head h1 {
  font-family: "barlow-bold-italic" !important;
  font-size: 120px;
  margin-bottom: 0;
}
.athlete-page__head h5 {
  font-family: "barlow" !important;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .3em;
  margin-bottom: 50px;
}
 
{% endstyle %}

{% javascript %}

(function() {

    let selectors = {


    };


  
})();
  

{% endjavascript %}

