<div class="athletes-page">

</div>

{% schema %}
  {
    "name": "Athletes Page",
    "settings": [
      {
        "type": "text",
        "id": "sup_title",
        "label": "Sup Title"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "right_text",
        "label": "Right text"
      },
      {
        "type": "text",
        "id": "sup_title_project",
        "label": "Sup title Project"
      },
      {
        "type": "text",
        "id": "title_project",
        "label": "title Project"
      },
      {
        "type": "text",
        "id": "title_favourites",
        "label": "title Favourites"
      }
    ],
    "blocks": [
      {
        "type": "card_athlete",
        "name": "Card Athlete",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Name"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "video",
            "id": "video",
            "label": "Video"
          },
          {
            "type": "url",
            "id": "Link",
            "label": "Link"
          },
          {
            "type": "checkbox",
            "id": "tag_trail",
            "label": "Trail"
          },
          {
            "type": "checkbox",
            "id": "tag_bike",
            "label": "Bike"
          },
          {
            "type": "checkbox",
            "id": "tag_snowsport",
            "label": "Snowsport"
          },
          {
            "type": "checkbox",
            "id": "tag_running",
            "label": "Running"
          },
          {
            "type": "checkbox",
            "id": "tag_mountaineering",
            "label": "Mountaineering"
          },
          {
            "type": "checkbox",
            "id": "tag_other",
            "label": "Other"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Athletes Page"
      }
    ]
  }
{% endschema %}
