<script>
  var headerWrapper = document.querySelector(".header-wrapper");
  headerWrapper.classList.add("is-light");
</script>

<div class="athlet-page">

  <div class="athlet-page__head">
    
  </div>
  
    
</div>

{% schema %}
  {
    "name": "Athlet Page",
    "settings": [
      {
        "type": "text",
        "id": "sup_title",
        "label": "Sup Title"
      }
    ],
    "presets": [
      {
        "name": "Athlet Page"
      }
    ]
  }
{% endschema %}


{% style %}

html {
  scroll-behavior: smooth;
}
body.template-page.template-page--athletes {
  background: #000;
}
.athletes-page__head {
  color: #fff;
  padding: 200px 20px;
}
.athletes-page__head a {
  color: #fff;
  display: block;
}
.athletes-page__head .boxed {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
}
.athletes-page__head h1 {
  font-family: "barlow-bold-italic" !important;
  font-size: 120px;
  margin-bottom: 0;
}
.athletes-page__head h5 {
  font-family: "barlow" !important;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .3em;
  margin-bottom: 50px;
}
 
{% endstyle %}

{% javascript %}

(function() {

    let selectors = {


    };


  
})();
  

{% endjavascript %}

