<div class="athletes-page">

</div>

{% schema %}
  {
    "name": "Athletes Page",
    "settings": [
      {
        "type": "text",
        "id": "sup_title",
        "label": "Sup Title"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "right_text",
        "label": "Right text"
      },
      {
        "type": "text",
        "id": "sup_title_project",
        "label": "Sup title Project"
      },
      {
        "type": "text",
        "id": "title_project",
        "label": "title Project"
      },
      {
        "type": "text",
        "id": "title_favourites",
        "label": "title Favourites"
      }
    ],
    "blocks": [
      {
        "type": "card_athlete",
        "name": "Card Athlete",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Name"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "video",
            "id": "video",
            "label": "Video"
          },
          {
            "type": "url",
            "id": "Link",
            "label": "Link"
          },
          {
            "type": "select",
            "id": "list_tag",
            "label": "List Tag",
            "options": [
              {
                "value": "trail",
                "label": "Trail",
                "group": "Tags"
              },
              {
                "value": "bike",
                "label": "Bike",
                "group": "Tags"
              },
              {
                "value": "snowsport",
                "label": "Snowsport",
                "group": "Tags"
              },
              {
                "value": "running",
                "label": "Running",
                "group": "Tags"
              },
              {
                "value": "mountaineering",
                "label": "Mountaineering",
                "group": "Tags"
              },
              {
                "value": "other",
                "label": "Other",
                "group": "Tags"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Athletes Page"
      }
    ]
  }
{% endschema %}
