<script src="{{ 'product-variant-color.js' | asset_url }}" defer="defer"></script>

<div
  class="product-variant-color-container"
  style="margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;"
>

   
  {%- for block in section.blocks -%}
    <div class="product-variant-color-item">
      <script>
        console.log("product-variant");
        console.log({{ block.settings.product | json }});
 
      </script>
    </div>
  {%- endfor -%}

</div>

{% schema %}
  {
    "name": "Product Variant Color",
    "tag": "section",
    "class": "product-variant-color-section",
    "enabled_on": {
      "templates": ["*"]
    },
    "settings": [
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 200,
        "step": 5,
        "default": 0,
        "unit": "px",
        "label": "Top Margin"
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 200,
        "step": 5,
        "default": 0,
        "unit": "px",
        "label": "Bottom Margin"
      }
    ],
    "blocks": [
      {
        "type": "color_variant",
        "name": "Color Variant",
        "settings": [
          {
            "type": "text",
            "id": "blockVariant",
            "label": "Variant Label"
          },
          {
            "type": "text",
            "id": "blockColor",
            "label": "Variant Hex"
          },
          {
            "type": "product",
            "id": "blockProduct",
            "label": "Variant Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Variant Color",
        "blocks": [
          {
            "type": "color_variant"
          },
          {
            "type": "color_variant"
          },
          {
            "type": "color_variant"
          }
        ]
      }
    ]
  }
{% endschema %}