.template-product h2.product-description-subtitle {
    font-size: 14px;
}

.pdp-gallery{
    display: flex;
    flex-wrap: wrap;
}

.pdp-gallery-image{
    flex: 1 1 100%;
}
.pdp-gallery-image--2,.pdp-gallery-image--3{
    flex: 1 1 50%;
    width: 50%;
}

.pdp-two-box{
    display: flex;
    margin-top: 50px;
}

.pdp-two-box__caption{
    width: 50%;
    flex: 1 1 50%;
    padding: 0 120px;
}
.pdp-two-box__caption-inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.pdp-two-box__title{
    font-family: "barlow-bold" !important;
    font-size: 32px;
}

.pdp-two-box__image{
    width: 50%;
    flex: 1 1 50%;
    padding: 0 120px;
}