{% section 'collection-header' %}

<div id="CollectionAjaxResult" class="collection-content">
  <div id="CollectionAjaxContent">
    <div class="page-width">
      <div class="grid">
        <div class="grid__item medium-up--one-fifth grid__item--sidebar">
          {% section 'collection-sidebar' %}
        </div>
        <div class="grid__item medium-up--four-fifths grid__item--content">
          {% section 'collection-promotions' %}
          <div class="collection-grid__wrapper">
            <p>I NOSTRI PRODOTTI</p>
            {% include 'image-banner' with banner_image_url: 'https://cdn.shopify.com/s/files/1/0696/3979/9097/collections/maglie_2592x.jpg?v=1675417485', banner_title: 'MAGLIE', button_href: '/collections/maglie/Uomo', button_title: 'VEDI TUTTE' %}


          </div>
        </div>
      </div>
    </div>
  </div>
</div>