<!-- {% section 'collection-header' %} -->

<div class="collection-content">

  <div class="page-width">
    <div class="grid grid--uniform">
      <div class="grid__item medium-up--one-fifth grid__item--sidebar">
        {% section 'collection-sidebar' %}
      </div>
      <div class="grid__item medium-up--four-fifths grid__item--content">
        {% section 'collection-promotions' %}
        <div class="collection-grid__wrapper">
          <h1>UOMO</h1>
          <hr>
          <p>I NOSTRI PRODOTTI</p>
          <div class="grid grid--uniform">
            <div class="grid__item medium-up--one-half">
              {% include 'image-banner' with banner_image_url: 'https://cdn.shopify.com/s/files/1/0696/3979/9097/collections/maglie_2592x.jpg?v=1675417485', banner_title: 'MAGLIE', button_href: '/collections/maglie/Uomo', button_title: 'VEDI TUTTE' %}
            </div>
            <div class="grid__item medium-up--one-half">
              {% include 'image-banner' with banner_image_url: 'https://cdn.shopify.com/s/files/1/0696/3979/9097/collections/maglie_2592x.jpg?v=1675417485', banner_title: 'PANTALONI', button_href: '/collections/maglie/Uomo', button_title: 'VEDI TUTTI' %}
            </div>
            <div class="grid__item">
              {% include 'image-banner' with banner_image_url: 'https://cdn.shopify.com/s/files/1/0696/3979/9097/collections/maglie_2592x.jpg?v=1675417485', banner_title: 'ACCESSORI', button_href: '/collections/maglie/Uomo', button_title: 'VEDI TUTT I I PRODOTTI' %}
            </div>

          </div>



          <!--{% section 'collection-template-man' %}-->
        </div>
      </div>
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Collection Uomo Banners",
    "settings": [

      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }

    ]
  }
{% endschema %}